<form name="inlineEdit.inlineEditForm" data-inline-content>
    <input
        id="inline_radio_1"
        name="inline_radio_1"
        class="radio-button__input"
        ng-model="inlineEdit.viewModel"
        type="radio"
        ng-value="'C'" />
        
    <label for="inline_radio_1" class="btn btn--tiny radio-button__btn">
        <i class="fa"></i>
        C
    </label>

    <input
        id="inline_radio_2"
        name="inline_radio_2"
        class="radio-button__input"
        ng-model="inlineEdit.viewModel"
        type="radio"
        ng-value="'E'" />
        
    <label for="inline_radio_2" class="btn btn--tiny radio-button__btn">
        <i class="fa"></i>
        E
    </label>
</form>
